.buttons{
    text-align: center;
}
.button{
    display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	box-shadow: 0px 10px 10px -7px #276873;
	background:linear-gradient(to bottom, #55a5c2 5%, #408c99 100%);
	background-color:#55a5c2;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 21px;
	text-decoration:none;
    text-shadow:0px 5px 0px #3d768a;
    user-select: none;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #55a5c2));
	background:-moz-linear-gradient(top, #408c99 5%, #55a5c2 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #55a5c2 100%);
	background:-o-linear-gradient(top, #408c99 5%, #55a5c2 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #55a5c2 100%);
	background:linear-gradient(to bottom, #408c99 5%, #55a5c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#55a5c2',GradientType=0);
	background-color:#408c99;
}
.button:active {
	position:relative;
	top:1px;
}
input[type="color"]{
    padding:0;
    cursor: pointer;
}